In [1]:
import pandas as pd

In [8]:
from pathlib import Path
DATA_DIR = Path.cwd() / "data/"

In [51]:
sooList_1962 = pd.read_json(DATA_DIR / "sooList_196801.json")

In [52]:
print(sooList_1962)

     nut_no3_n  sln_cde       lon  wtr_trn  wtr_tmp  nut_no2_n gru_nam  \
0          NaN      208  130.8300      NaN    13.49        NaN      동해
1          NaN      208  130.8300      NaN    13.49        NaN      동해
2          NaN      208  130.8300      NaN    13.49        NaN      동해
3          NaN      208  130.8300      NaN    13.49        NaN      동해
4          NaN      208  130.8300      NaN    13.49        NaN      동해
..         ...      ...       ...      ...      ...        ...     ...
212        NaN      206  128.8283     13.0    16.04        NaN      남해
213        NaN      206  128.8283     13.0    15.51        NaN      남해
214        NaN      206  128.8283     13.0    13.43        NaN      남해
215        NaN      206  128.8283     13.0    10.98        NaN      남해
216        NaN      206  128.8283     13.0    10.52        NaN      남해

    res_vsl_nm  nut_sio2_si  wtr_dep  ...  sta_cde  qc_wtr  qc_sal  \
0           미상          NaN        0  ...       10       1       4
1           미상          NaN       10  ...       10       1       4
2           미상          NaN       20  ...       10       1       4
3           미상          NaN       30  ...       10       1       4
4           미상          NaN       50  ...       10       1       4
..         ...          ...      ...  ...      ...     ...     ...
212         미상          NaN       20  ...        3       1       4
213         미상          NaN       30  ...        3       1       4
214         미상          NaN       50  ...        3       1       4
215         미상          NaN       75  ...        3       1       4
216         미상          NaN       90  ...        3       1       4

              obs_dtm sal     atm  nut_ph  qc_dox  nut_po4_p      lat
0    1968-01-22 18:00 NaN  1022.1     NaN       1        NaN  34.5417
1    1968-01-22 18:00 NaN  1022.1     NaN       1        NaN  34.5417
2    1968-01-22 18:00 NaN  1022.1     NaN       1        NaN  34.5417
3    1968-01-22 18:00 NaN  1022.1     NaN       1        NaN  34.5417
4    1968-01-22 18:00 NaN  1022.1     NaN       1        NaN  34.5417
..                ...  ..     ...     ...     ...        ...      ...
212  1968-01-11 12:30 NaN  1026.1     NaN       1        NaN  34.3733
213  1968-01-11 12:30 NaN  1026.1     NaN       1        NaN  34.3733
214  1968-01-11 12:30 NaN  1026.1     NaN       1        NaN  34.3733
215  1968-01-11 12:30 NaN  1026.1     NaN       1        NaN  34.3733
216  1968-01-11 12:30 NaN  1026.1     NaN       1        NaN  34.3733

[217 rows x 21 columns]

In [63]:
def concat_data(param_name: str, sdate: str, edate: str):
    from datetime import datetime
    collected = pd.DataFrame()

    sdate_dt = datetime.strptime(sdate, "%Y-%m-%d")
    edate_dt = datetime.strptime(edate, "%Y-%m-%d")

    start_year = sdate_dt.year
    end_year = edate_dt.year

    for year in range(start_year, end_year + 1):
        for month in range(1, 13):
            f = DATA_DIR / f"sooList_{year}{month:02d}.json"
            try:
                if f.is_file():
                    df = pd.read_json(f)
                    if param_name in df.columns:
                        collected = pd.concat([collected, df[[param_name]]], ignore_index=True)
            except Exception as e:
                print(f"Error reading {f.name}: {e}")

    return collected

In [65]:
concat_data("wtr_tmp", "1968-01-01", "2025-12-31")

        wtr_tmp
0       13.4900
1       13.4900
2       13.4900
3       13.4900
4       13.4900
...         ...
510536  13.3284
510537  13.3243
510538  13.3156
510539  13.3157
510540  13.3163

[510541 rows x 1 columns]